@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
html {
  font-size: 90%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2c3e50;
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  color: #2c3e50;
  padding: 1.5rem 0;
  font-size: 3rem;
  font-weight: bolder;
}

.clrfix {
  clear: both;
}

.container {
  max-width: 600px;
  overflow: auto;
  background: #1abc9c;
  margin: 2rem auto;
  border-radius: 10px;
}

.container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.container ul li {
  list-style: none;
  padding: 6rem;
  margin: 0.5rem;
  background: #2c3e50;
  color: #1abc9c;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.container ul li:hover {
  background: #333;
}

.container .win-screen {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
}

.container .win-screen div {
  font-size: 3rem;
}

.container .win-screen a {
  display: block;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  background: #1abc9c;
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .win-screen a:hover {
  background: #333;
  color: #fff;
}

.container .win-screen.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.o {
  position: relative;
}

.o::before {
  content: '';
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 0.9rem solid #2ecc71;
}

.x {
  position: relative;
}

.x::before {
  content: '';
  left: 50%;
  top: 50%;
  position: absolute;
  width: 10%;
  height: 80%;
  background: #c0392b;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.x::after {
  content: '';
  left: 50%;
  top: 50%;
  position: absolute;
  width: 10%;
  height: 80%;
  background: #c0392b;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .container {
    margin-top: 10rem;
  }
  .container h1 {
    font-size: 5rem;
    padding: 3rem 0;
  }
  .container ul li {
    padding: 7rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
  .container {
    margin-top: 10rem;
  }
  .container h1 {
    font-size: 5rem;
    padding: 3rem 0;
  }
  .container ul li {
    padding: 7rem;
  }
}
